<div class="app-layout-container">
    <section>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../../assets/places-images/glaciar-perito-moreno.webp" width="150px" height="150px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Glaciar Perito Moreno</h5>
              <p class="card-text">Es una gruesa masa de hielo ubicada en el departamento Lago Argentino de la provincia de Santa Cruz, sudoeste de la Argentina, en la región de la Patagonia.</p>
              <a href="https://www.elcalafate.tur.ar/en-glaciar-perito-moreno.htm" target="_blank" class="btn btn-primary">Más Info</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../../assets/places-images/ushuaia.jpeg" width="150px" height="150px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Ushuaia</h5>
              <p class="card-text">Ushuaia es una ciudad turística de Argentina. Se ubica en el archipiélago de Tierra del Fuego, el extremo austral de Sudamérica, apodado el "Fin del Mundo".</p>
              <a href="https://es.wikipedia.org/wiki/Ushuaia" class="btn btn-primary" target="_blank">Más Info</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../../assets/places-images/bariloche.webp" width="150px" height="150px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Bariloche</h5>
              <p class="card-text">San Carlos de Bariloche es una ciudad en la región de la Patagonia argentina. Limita con Nahuel Huapi, un gran lago glacial rodeado de montañas de los Andes.</p>
              <a href="https://barilocheturismo.gob.ar/es/home" class="btn btn-primary" target="_blank">Más Info</a>
            </div>
        </div>
    </section>
    <section>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../../assets/places-images/cataratas-iguazu.jpg" width="150px" height="150px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Las Cataratas del Iguazú</h5>
              <p class="card-text">Las cataratas del Iguazú se localizan en el río Iguazú, límite entre la provincia argentina de Misiones, Paraná de brasil y el departamento paraguayo de Ciudad del Este.</p>
              <a href="https://iguazuargentina.com/es/" class="btn btn-primary" target="_blank">Más Info</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../../assets/places-images/salinas-grandes.jpg" width="150px" height="150px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Salinas Grandes</h5>
              <p class="card-text">Geográficamente las Salinas Grandes se ubican tanto en la Provincia Jujuy como en la Provincia Salta a 3,450 msnm y es el cuarto salar más grande de Sudamérica.</p>
              <a href="https://es.wikipedia.org/wiki/Salinas_Grandes_(Jujuy_y_Salta)" class="btn btn-primary" target="_blank">Más Info</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../../assets/places-images/cafayate.jpg" width="150px" height="150px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Cafayate</h5>
              <p class="card-text">Cafayate es una localidad de la provincia de Salta, en el noroeste de Argentina. Se ubica en los valles Calchaquíes, un área conocida por sus formaciones rocosas rojizas.</p>
              <a href="http://turismo.salta.gov.ar/contenido/19/cafayate" class="btn btn-primary" target="_blank">Más Info</a>
            </div>
        </div>
    </section>
</div>
